/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 6, 2015, 1:40:38 PM
    Author     : manol.trendafilov
*/

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

.hide {
    display: none;
}

.form-inline .form-group input {
    width: 75px;
}

.image-border
{
    /* border: 1px solid #e5e5e5; */
    padding-right: 4px;
    margin-top: 2px;
}

/* placeholder for drag and drop */

/*
.placeholder {
    border: 1px solid green;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px #888;
    -moz-box-shadow: 0px 0px 10px #888;
    box-shadow: 0px 0px 10px #888;
}


.modal-body .grid {
    margin-top: 1em;
}
*/

#editor {
    
    overflow:scroll;
    max-height:300px
}