<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets "bootstrap-sass/bootstrap-sass-3.3.5/assets/stylesheets/*" filter="scss" filter="uglifycss"  %}
                 <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            {% stylesheets "source/less/tablesorter/*" filter="less" filter="uglifycss" %}
                 <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        
        {% block head_javascripts %}
            
             {% javascripts
                 "source/js/jquery-2.1.4.js"
                 "bootstrap-sass/bootstrap-sass-3.3.5/assets/javascripts/bootstrap.min.js"
                 "bootstrap-sass/bootstrap-sass-3.3.5/assets/javascripts/bootstrap-sprockets.js"
                 "bootstrap-sass/bootstrap-sass-3.3.5/assets/javascripts/bootstrap/*"                 
                 "source/js/jquery.tablesorter.min.js"
             filter="uglifyjs" %}
                <script src="{{ asset_url }}"></script>
             {% endjavascripts %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
      
        <div class="container">
        {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
